footer {
    background-color: #9dc7fc;
    color: #fff;
    position:absolute;
    left:0;
    bottom:0;
    right:0;
}
footer h1 {
    margin-bottom: 20px;
    color: #fff;
    font-weight: 800;
    font-style: italic;
}
footer p {
    font-size: 18px;
    font-weight: 300;
    opacity: 0.8;
    margin-bottom: 20px;
}
footer h2 {
    margin-bottom: 20px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #9dc7fc;
    padding: 20px;
}
