/*-------------------------------------Head---------------------------------*/
.head {
    background-color: #00ddff;
    padding: 10px 0;
    color: #fff;
}
.head i{
    margin-right: 10 px;
}
.head label{
    margin-right: 30 px;
    font-size: 18px;
}
/*-------------------------------------Head---------------------------------*/